<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
        
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        {% if site.github.is_project_page %}
        <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>
        {% endif %}
        
        {% if site.show_navlinks %}
        <ul class="navlinks">
          <li><a href="{{ "/syntax.html" | absolute_url }}">Learn the <strong>Syntax</strong></a></li>
          <li><a href="{{ site.hex.hexdocs_url }}">Read the <strong>HexDocs</strong></a></li>
          <li><a href="{{ site.gitter.home_url }}">Chat on <strong>Gitter</strong></a></li>
        </ul>
        {% endif %}

        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="{{ site.hex.repository_url }}">Install with <strong>Hex</strong></a></li>
          <li><a href="{{ site.bitbucket.repository_url }}">Fork on <strong>BitBucket</strong></a></li>
          <li><a href="{{ site.github.repository_url }}">Fork on <strong>GitHub</strong></a></li>
        </ul>
        {% endif %}
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.show_releases %}
        <h2>Release Notes</h2>
        {% for release in site.releases reversed limit:10 %}
        <p><a href="{{ release.url }}">{{release.date}}: {{release.version}}</a></p>
        {% endfor %}
        {% endif %}
        
        {% if site.show_posts %}
        <h2>Recent Posts</h2>
        {% for post in site.posts reversed limit:10 %}
        <p><a href="{{ post.url }}">{{post.date}}: {{post.title}}</a></p>
        {% endfor %}
        {% endif %}
        
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a>, with modifications</small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
